/* 사용 폰트font */
//메인 폰트(레코체)
@font-face {
    font-family: 'Recipekorea';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Recipekorea.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// 본문 폰트(에스코어드림)
@font-face {
     font-family: 'S-CoreDream-2ExtraLight';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
@font-face {
     font-family: 'S-CoreDream-3Light';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
@font-face {
     font-family: 'S-CoreDream-4Regular';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
@font-face {
     font-family: 'S-CoreDream-5Medium';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
@font-face {
     font-family: 'S-CoreDream-6Bold';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
@font-face {
     font-family: 'S-CoreDream-7ExtraBold';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
@font-face {
     font-family: 'S-CoreDream-8Heavy';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
@font-face {
     font-family: 'S-CoreDream-9Black';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

/* color 가이드
* 바탕 및 흰색 바탕에 blue 사용시 blue-light 사용
* 포인트 및 hover 사용시 blue-main 사용
* 버튼 컬러는 gray light 사용
* 흰색 바탕의 설명 및 글 작성 시 gray-dark 사용 
* 그 외에는 혹시 몰라서 넣어놨습니다.
 */
$blue-light:#98D6F6;
$blue-main:#228AE6;
$gray:#7e7e7e;
$gray-dark:#535353;
$gray-light: #d5d5d5;
$gray-EXlight:#f6f3f2;

/* font-size 가이드 
* 웹폰트에서 적용 가능한 가장 작은 글자는 10px 이므로, 가장 작은 글자 적용시 font-XS사용
* 설명 및 정보 작성시 font-S 사용
* 서브 타이틀 작성시 font-M 사용
* 메인 타이틀 작성시 font-L 사용
* 그 외의 큰 타이틀 작성시 font-XL 사용
*/
$font-XS:'S-CoreDream-2ExtraLight' 10px;
$font-S: 'S-CoreDream-3Light' 12px;
$font-M: 'S-CoreDream-6Bold' 14px;
$font-L: 'S-CoreDream-8Heavy' 16px;
$font-XL: 'S-CoreDream-9Black' 35px;
